.app-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 2px;
  font-size: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

h2{
  text-align: center;
  width: 100%;
  background-color: lightcoral;
  font-style: oblique;
  font-size: 30px;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 5px;

}

th {
  background-color: rgb(233, 150, 178);
  text-align: center;
}

td {
  background-color: rgb(205, 235, 253);
  font-size: 4px;
  text-align: center;
  
}

form {
  display: flex;
  gap: 5px;
}
button{
  background-color: rgb(201, 194, 194);
  border: 1px solid black;
  border-radius: 25px;
  cursor: pointer;
}

button:hover{
  opacity: 240px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
}

